*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height: 70px;
    background: #ff6900;
    color: white;
    padding: 10px;
    box-shadow: 0 1px 3px #666;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

nav{
    height: 100%;
    justify-content: space-between;
    align-items: center;

}


main{
    margin-top: 100px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

nav ul{
    list-style-type: none;
    display: flex;

}


nav a{
    color: white;
    text-decoration: none;
}

.menu-sinistra li{
    padding-right: 8px

}

.menu-destra li{
    padding-left: 8px;
}

.menu-centrale > img{
    height: 35px;
}

main > .container{
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3);
    padding: 8px;
    margin-bottom: 16px;

}



.card-image{
    position: relative;
}

.card-image > img{
    width: 100%;
}


.card-image .prima-immagine {
	display: inline-block;
}

.card-image .seconda-immagine {
	display: none;
}

.card-image:hover .prima-immagine {
	display: none;
}
.card-image:hover .seconda-immagine {
	display: inline-block;
}

.wishlist {
	position: absolute;
	top: 10px;
	right: 0;
	background: white;
	padding: 16px;
}


.wishlist:hover{
    color: red;
    cursor: pointer;
}



.badges {
    position: absolute;
    left: 0;
    bottom: 20px;

}


.badge {
    color: white;
    padding: 8px;

}

.badge-discount {
    background: red;

}

.badge-eco {
background: green;
}


#heart-sopra {
    margin-right: 10px;
}